body
{
	font-size: 12px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #FFFFFF;
}
iframe {
	margin-top:10px;
}
input
{
    font-size: 12px; 
	text-indent:0px;
	border:solid 1px #B8B8B8;
	margin-left:3px;
	margin-right:3px;
}
span.a1
{
font-size: 12px;
}
select
{
	margin-left:3px;
	margin-right:3px;
}
textarea
{
    font-size: 12px; 
	text-indent:0px;
	border:solid 1px #B8B8B8;
	margin-top:8px;
	margin-left:3px;
	margin-bottom:8px;
}
A.xxlb:link
{
    color:#000000;
	text-decoration: none; 
}
A.xxlb:active                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
{
    COLOR:#000000;
	text-decoration: none;     
}
A.xxlb:visited
{
	color:#000000;
	text-decoration: none; 	

}
A.xxlb:hover
{
    COLOR:#BA2636;
    text-decoration: underline;  
}
A:link
{
    color:#000000;
	text-decoration: none; 
}
A:active                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
{
    COLOR:#000000;
	text-decoration: none;     
}
A:visited
{
	color:#000000;
	text-decoration: none; 	

}
A:hover
{
    COLOR:#BA2636;
    text-decoration: underline;  
}
.css_button
{
	background-image: url(../images/button-l.gif);
	width: 45px;
	CURSOR: pointer;
	height:20px;
	border:0px;
}
.css_button2
{
    background-image: url(../images/button-m.gif);
	width: 70px; 
    CURSOR: pointer;
    height:20px;
	border:0px;
}
.css_button3
{
    background-image: url(../images/button-c.gif);
	width: 100px; 
    CURSOR: pointer;
    height:20px;
	border:0px;
}
.css_button4
{
    background-image: url(../images/button-130.gif);
	width: 130px; 
    CURSOR: pointer;
    height:20px;
	border:0px;
}


/***********************************/
/* 样式类型：详细信息页面样式              */
/* 适用范围：添加、编辑、查看页面             */
/***********************************/
table.chart_info
{
	 background-color: #FFFFFF; 
	 border-collapse:collapse; 
	 font-size: 12px;
	 border-left:solid 1px #D6D7D6;
	 border-right:solid 1px #D6D7D6;
	 border-bottom:solid 1px #D6D7D6;
}
table.chart_info thead td
{
	background-image:url(../images/light-bg.png);
	height:28px;
	text-align: center;
	vertical-align:middle;
	font-size: 12px;
	border-right:solid 1px #D8D8D8;
	border-bottom:solid 1px #D8D8D8;
	font-weight:bold;
}
table.chart_info td.a1
{
	background-color: #f6f6f6;
	height:25px;	
	text-align: center ;
	font-size: 12px;
	border-bottom:solid 1px #D8D8D8;
	border-right:solid 1px #D8D8D8;
}
table.chart_info td.a2
{
	background-color: #FFFFFF;
	height:25px;	
	text-align: left ;
	font-size: 12px;
	margin-left: 10px;
	text-indent: 3pt;
	border-bottom:solid 1px #D8D8D8;
	border-right:solid 1px #D8D8D8;
}
table.chart_info td.a3
{
	background-color: #FFFFFF;
	height:25px;	
	text-align: center ;
	font-size: 12px;
	border-bottom:solid 1px #D8D8D8;
	border-right:solid 1px #D8D8D8;
}
table.chart_info td.a4
{
	background-color: #FFFFFF;
	height:25px;	
	text-align: left ;
	font-size: 12px;
	margin-left: 10px;
	text-indent: 3pt;
	border-bottom:solid 1px #D8D8D8;
	border-right:solid 1px #D8D8D8;
}
/***********************************/
/* 样式类型：详细信息页面样式              */
/* 适用范围：添加、编辑、查看页面             */
/***********************************/
table.chart_index
{
	 background-color: #FFFFFF; 
	 border-collapse:collapse; 
	 font-size: 12px;
	 border-left:solid 1px #D6D7D6;
	 border-right:solid 1px #D6D7D6;
	 border-bottom:solid 1px #D6D7D6;
}
table.chart_index td.a1
{
	background-color: #f6f6f6;
	height:30px;	
	text-align: center ;
	font-size: 12px;
}
table.chart_index td.a2
{
	background-color: #f6f6f6;
	height:30px;	
	text-align: left ;
	font-size: 12px;
	margin-left: 10px;
	text-indent: 3pt;
}
table.chart_index td.a3
{
	background-color: #f6f6f6;
	height:15px;	
	text-align: left ;
	font-size: 12px;
	margin-left: 10px;
	text-indent: 3pt;
}

/***********************************/
/* 样式类型：详细信息页面样式              */
/* 适用范围：添加、编辑、查看页面             */
/***********************************/

table.chart_list
{
	 background-color: #FFFFFF; 
	 border-collapse:collapse; 
	 font-size: 12px;
	 border-top: hidden;
	 border-left:solid 1px #D6D7D6;
	 border-right:solid 1px #D6D7D6;
	 border-bottom:solid 1px #D6D7D6;
}
table.chart_list td
{
	 border-top: solid 1px #D6D7D6;
	 border-left:solid 1px #D6D7D6;
	 border-right:solid 1px #D6D7D6;
	 border-bottom:solid 1px #D6D7D6;
}
table.chart_list td table td
{
	 border-top: solid 0px #D6D7D6;
	 border-left:solid 0px #D6D7D6;
	 border-right:solid 0px #D6D7D6;
	 border-bottom:solid 0px #D6D7D6;
}
table.chart_list thead td
{
	background-image:url(../images/mailSubHeaderBg-grey.gif);
	height:25px;
	text-align: center;
	vertical-align:middle;
	font-size: 12px;
	border-right:solid 1px #D8D8D8;
	border-bottom:solid 1px #D8D8D8;
	cursor: pointer;
	white-space: nowrap;
}
table.chart_list td.csstitle
{
	background-image:url(../images/head_top2bg.gif);
	height:30px;	
	border-top:solid 1px #D6D7D6;
	font-size: 12px;
	 border-left:solid 0px #D6D7D6;
	 border-right:solid 0px #D6D7D6;
	 border-bottom:solid 0px #D6D7D6;	
}
table.chart_list td.search
{
	background-image:url(../images/layerPopupBg.gif);
	height:35px;
	font-size: 12px;
	border-top:solid 0px #D6D7D6;
	border-left:solid 0px #D6D7D6;
	border-right:solid 0px #D6D7D6;
    border-bottom:solid 0px #D6D7D6;		
}
table.chart_list td.a1
{
	background-color: #FBFBFB;
	height:25px;	
	text-align: center ;
	font-size: 12px;
	border-bottom:solid 1px #D8D8D8;
	border-right:solid 1px #D8D8D8;
}
table.chart_list td.a3
{
	background-color: #FBFBFB;
	height:25px;	
	text-align: right ;
	font-size: 12px;
	border-bottom:solid 1px #D8D8D8;
	border-right:solid 1px #D8D8D8;
}
table.chart_list td.a4
{
	background-color: #FBFBFB;
	height:25px;	
	text-align: left ;
	font-size: 12px;
	text-indent: 2pt;
	border-bottom:solid 1px #D8D8D8;
	border-right:solid 1px #D8D8D8;
}
table.chart_list td.a2
{
	background-color: #FFFFFF;
	height:25px;	
	text-align: center ;
	font-size: 12px;
	border-bottom:solid 1px #D8D8D8;
	border-right:solid 1px #D8D8D8;
}
table.chart_list tr.a1
{
	background-color: #FBFBFB;
	height:25px;	
	text-align: center ;
	font-size: 12px;
	cursor:pointer;
}
table.chart_list tr.a2
{
	background-color: #EEEEEE;
	height:25px;	
	text-align: center ;
	font-size: 12px;
	cursor:pointer;
}
table.chart_list td.page
{
	background-color: #E8E8E8;
	height:25px;	
	text-align: right;
	font-size: 12px;
	border-bottom:solid 1px #D8D8D8;
	border-right:solid 1px #D8D8D8;
}
table.chart_list td.tree
{
	background-color: #FFFFFF;
	height:25px;	
	text-align: left ;
	font-size: 12px;
	border-bottom:solid 1px #D8D8D8;
	border-right:solid 1px #D8D8D8;
}
table.chart_list input
{
    font-size: 12px; 
	text-indent:0px;
	margin-left:1px;
	margin-right:1px;
}
.bjd_input {
    font-size: 10pt;
    height: 20px;
    border: 0px solid #88C1DC;
}
table{
	word-break:break-all;
}
.selectTip{
	background-color:#009000;
	color:#fff000;
}
.rightContentDiv{
	width:100%;
	text-align:left;
	display:inline ;
	float:left;
	overflow-x: auto;
	overflow-y: scroll;
}
.inner{
	width:99%;
	margin:2px;
	border:1px solid #B8B8B8;
	text-align:left;
	display:inline ;
	float:left;	
	height: 240px;
	overflow-y: auto;
	overflow-x: auto; 
}
.innerImage{
	width:99%;
	margin:2px; 
	border:1px solid #B8B8B8;
	text-align:left;
	display:inline ;
	float:left;	
	height: 290px;
	overflow-y: none;
	overflow-x: none; 
}