BODY {
	FONT-SIZE: 12px; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #f5f9ff; SCROLLBAR-SHADOW-COLOR: #828282; SCROLLBAR-3DLIGHT-COLOR: #828282; SCROLLBAR-ARROW-COLOR: #797979; SCROLLBAR-TRACK-COLOR: #ececec; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; SCROLLBAR-DARKSHADOW-COLOR: #ffffff
}
TD {
	FONT-SIZE: 12px; MARGIN: 2px;FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
}
TH {
	FONT-SIZE: 12px; MARGIN: 2px;FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
}
.reportTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000
}
.tableStyle {
	BORDER-LEFT-COLOR: #000000 1px solid; BORDER-TOP-COLOR: #000000 2px solid;
}
.TrStyle1{
	background-color: ##dcdcdc;
}
.ReportHead {
	FONT-WEIGHT: bold; BORDER-LEFT-COLOR: #000000; BORDER-TOP-COLOR: #000000; BORDER-BOTTOM: #000000 2px solid; HEIGHT: 23px; TEXT-ALIGN: center; BORDER-RIGHT: #000000  1px solid
}
.ReportItem {
	BORDER-LEFT-COLOR: #000000; BORDER-TOP-COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 20px; TEXT-ALIGN: left; BORDER-RIGHT: #000000 1px solid;padding-left:4px;
}
.ReportItemXh {
	BORDER-LEFT-COLOR: #000000; BORDER-TOP-COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 20px; TEXT-ALIGN: center; BORDER-RIGHT: #000000 1px solid;
}
.ReportItemMoney {
	BORDER-LEFT-COLOR: #000000; BORDER-TOP-COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 20px; TEXT-ALIGN: right; BORDER-RIGHT: #000000 1px solid
}
.serialHead{
	FONT-WEIGHT: bold; BORDER-LEFT-COLOR: #000000; BORDER-TOP-COLOR: #000000; BORDER-BOTTOM: #000000 2px solid; HEIGHT: 25px; TEXT-ALIGN: center; BORDER-RIGHT: #000000 1px solid
}
.serialItme {
	BORDER-LEFT-COLOR: #000000; BORDER-TOP-COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 22px; TEXT-ALIGN: center; BORDER-RIGHT: #000000 1px solid
}
A.noline:link {
	FONT-SIZE: 9pt; COLOR: #000000; TEXT-DECORATION: none
}
A.noline:visited {
	FONT-SIZE: 9pt; COLOR: #000000; TEXT-DECORATION: none
}
A.noline:hover {
	FONT-SIZE: 9pt; COLOR: #198af8; TEXT-DECORATION: none
}
A.noline:active {
	FONT-SIZE: 9pt; COLOR: #0066b3; TEXT-DECORATION: none
}
table{
	word-break:break-all;
}
